<div class="about-me-container bg-glass fade-in" #scrollContainer>
  <div class="about-me-content">
    <div class="about-me-title-container">
      <div class="about-me-title-box">
        <h1 class="about-me-title">Rubits Works</h1>
      </div>
    </div>
    <div class="about-me-body">
      <div class="about-me-frame">
        <p class="about-me">
          En mi rol como ingeniero de backend en
          <a href="https://rubits.works" target="_blank" class="highlight"
            >Rubits Works</a
          >, una plataforma freelance, tuve la
          oportunidad de desarrollar y mejorar la API. Mis responsabilidades
          incluyeron la creación de rutas para la gestión de
          proyectos, así como la implementación de sistemas de autenticación de
          usuarios. Esta experiencia fue fundamental para asegurar la
          operatividad y seguridad de la plataforma.
        </p>
      </div>
    </div>
    <div class="profile-image-container">
      <div class="profile-image-frame">
        <a href="https://rubits.works" target="_blank"><img
          class="profile-image"
          src="assets/portfolio/proyecto_2_alt.jpg"
          alt="Vicente, Ingeniero de Datos"

        /></a>
      </div>
    </div>
    <a href="portafolio"
      ><button class="cta-button">Explorar mi portafolio</button></a
    >
  </div>

  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
