<div class="onboarding-container bg-glass fade-in ">
  <div class="onboarding-content">
    <div class="welcome-title-container">
      <div class="welcome-title-box">
        <h1 class="welcome-title">Bienvenido</h1>
      </div>
    </div>
    <div class="about-me-container">
      <div class="about-me-frame">
        <p class="about-me">
          Me llamo Vicente y soy un
          <span class="highlight">Ingeniero de Datos</span> apasionado por la
          tecnología y la <span class="highlight">ciencia de datos</span>.
        </p>
      </div>
    </div>
    <div class="profile-image-container">
      <div class="profile-image-frame">
        <a href="sobre_mi"><img
          class="profile-image"
          src="assets/1710876727176.jpg"
          alt="Claudio, Ingeniero de Datos"
        /></a>
      </div>
    </div>
    <div class="experience-container">
      <div class="experience-frame">
        <p class="experience">En esta página podrás conocer más sobre mi <span class="highlight">experiencia</span>, <span class="highlight">habilidades</span> y <span class="highlight">proyectos</span>.</p>
      </div>
    </div>
    <button class="cta-button">Explorar mi portafolio</button>
  </div>
  <footer class="footer">
    Vicente Figueroa &copy;
  </footer>
</div>
