<div class="about-me-container bg-glass fade-in" #scrollContainer>
  <div class="about-me-content">
    <div class="about-me-title-container">
      <div class="about-me-title-box">
        <h1 class="about-me-title">Cymasuite</h1>
      </div>
    </div>
    <div class="about-me-body">
      <div class="about-me-frame">
        <p class="about-me">
          Mi experiencia como científico de datos en
          <a href="https://www.cymasuite.com/" target="_blank" class="highlight"
            >Cymasuite</a
          >, me permitió desarrollar soluciones predictivas clave. Diseñé un
          predictor de cuentas bancarias para anticipar movimientos financieros
          y un sistema para detectar facturas fraudulentas, mejorando
         la seguridad y confiabilidad de las transacciones
          de los usuarios. Además, implementé sistemas inteligentes con métricas
          de mantenimiento para optimizar la eficiencia y la toma de
          decisiones estratégicas.
        </p>
      </div>
    </div>
    <div class="profile-image-container">
      <div class="profile-image-frame">
        <img
          class="profile-image"
          src="assets/portfolio/proyecto_3.png"
          alt="Vicente, Ingeniero de Datos"
        />
      </div>
    </div>
    <a href="portafolio"
      ><button class="cta-button">Explorar mi portafolio</button></a
    >
  </div>

  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
