/* product-carousel.component.css */
.carousel-container {
  display: flex;
  justify-content: center;
  /* Added overflow: hidden to prevent horizontal scrollbars */
  overflow: hidden;
}

::ng-deep .carousel {
  width: 80%;
  /* Adjust margin for better responsiveness */
  margin-left: 20px auto;
  margin-right: 20px auto;
}

::ng-deep .slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* Removed unnecessary flexbox properties */
}

::ng-deep .slide img {
  /* Set exact dimensions for consistent sizing */
  width:280px;
  height: 280px;
  object-fit: cover;
  /* Use margin instead of padding for clearer spacing */
  margin: 20px;
}
.title-container{
display: flex;
justify-content: center;
}
h2 {
  /* Estilos para el título de cada slide */

  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;

  border-radius: 10px;
}