<div class="about-me-container bg-glass fade-in" #scrollContainer>
  <div class="about-me-content">
    <div class="about-me-title-container">
      <div class="about-me-title-box">
        <h1 class="about-me-title">Centro de Graduados</h1>
      </div>
    </div>
    <div class="about-me-body">
      <div class="about-me-frame">
        <p class="about-me">
          El centro de graduados de la facultad de ingeniería es una
          <span class="highlight">asociación de profesionales</span> que brinda
          diversas alternativas de actualización, en esta época de cambios
          científicos y tecnológicos cada vez más veloces y posibilidades de
          vinculación e intercambio con profesionales de diversas
          especialidades.
        </p>
      </div>
    </div>
    <div class="profile-image-container">
      <div class="profile-image-frame">
        <img
          class="profile-image"
          src="assets/portfolio/proyecto_1.png"
          alt="Vicente, Ingeniero de Datos"
        />
      </div>
    </div>
    <a href="portafolio"
      ><button class="cta-button">Explorar mi portafolio</button></a
    >
  </div>

  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
