<div class="defontana-container bg-glass fade-in" #scrollContainer>
  <div class="defontana-content">
    <div class="defontana-title-container">
      <div class="defontana-title-box">
        <h1 class="defontana-title">Defontana</h1>
      </div>
    </div>
    <div class="defontana-body">
      <div class="defontana-frame">
        <p class="defontana">
          Mi experiencia como ingeniero de datos en
          <a
            href="https://www.defontana.com/cl"
            target="_blank"
            class="highlight"
            >Defontana</a
          >, abarca dos años de trabajo apasionante. Durante este tiempo, he
          sido responsable de crear y mantener data pipelines en la nube de AWS,
          así como de diseñar y gestionar dashboards y visualizaciones de datos.
          Mi dominio de herramientas como Python, PySpark y la plataforma de AWS
          me ha permitido extraer análisis avanzados mediante técnicas de
          machine learning. Además, he contribuido a la optimización de la
          eficiencia operativa y la toma de decisiones estratégicas mediante la
          implementación de sistemas inteligentes con métricas de mantenimiento.
        </p>
      </div>
    </div>
    <a href="https://defontana.com/cl">
      <div class="profile-image-container">
        <div class="profile-image-frame">
          <img
            class="profile-image"
            src="assets/portfolio/proyecto_4_alt.jpg"
            alt="Vicente, Ingeniero de Datos"
          />
        </div></div
    ></a>
    <a href="portafolio"
      ><button class="cta-button">Explorar mi portafolio</button></a
    >
  </div>

  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
