<div class="contact-container bg-glass fade-in" #scrollContainer>
  <div class="contact-content">
    <div class="contact-title-container">
      <div class="contact-title-box">
        <h1 class="contact-title">Contacto</h1>
      </div>
    </div>
    <div class="contact-body">
      <div class="contact-frame">
        <p class="contact">
          ¡Aquí puedes encontrarme! <i class="bx bx-user"></i>
        </p>
      </div>
    </div>
    <app-socialcard></app-socialcard>
    <app-socialcard></app-socialcard>

    <a href="Home"><button class="cta-button">¡ Inicio !</button></a>
  </div>
  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
