<div class="contact-container bg-glass fade-in">
  <div class="contact-content">
    <div class="contact-title-container">
      <div class="contact-title-box">
        <h1 class="contact-title">Contacto</h1>
      </div>
    </div>
    <div class="contact-body">
      <div class="contact-frame">
        <p class="contact">
          ¡Aquí puedes encontrarme! <i class="bx bx-user"></i>
        </p>
      </div>
    </div>
    <app-socialcard
      name="Github"
      link="https://github.com/Vicente-Figueroa"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWBJREFUSEu1lY1NxTAMhP02gUmATWASYBJgEmAS2AT6Vbno8temT6qlqmpi+3yX2L3EyXY5OX/MANxHBM9dev9GBM/38v2VnmGdWwA3EfGWkm4RBewhgTZ+I4CXiHg+IB8gH4s/cYX1AB5T5QfyZ9fXGqQGQJaf5I6+Twt1AMWGSjH8MBLixz7nxD4xrK1WA3ya5u/JWQmVvPftkuJ32wOopXGAPbm4DMTLOPSVhTOoAbLTXvYkmaSVdOuBO4BXUdCcAMDF5aV6CiwAqECHlx0mk+PWLdAZOMA1DDw+F+8ATvEagD9jmy+IA9Tde+QWDWMdgEaBhVvTmdU+Z+aNuHlNdRMIohsBpEM1PVnzZnNJHbe4IKNRoQmpEaCx4Ynq5mqq740K1qTnnjy9iQtLzi7b3riWPIziItAKUbIm+YiBAvyH02MjBs0EnWHgPupuP2D2R+vFRZv5Jx+YFq3r6QD/Wc9YGdHIjH4AAAAASUVORK5CYII="
    ></app-socialcard>
    <app-socialcard
      name="Instagram"
      link="https://instagram.com/vicentefigueroa.ia"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXJJREFUSEvFlc1NRDEMhGeb4ApUAly4UwASVAJI9AGUwQmohJ8DdypY3oc8T1aSzWaFnjaX/YntscdjZ6WFz2rh+NobwJGkK0knkk47VX7E3auku8nHv2eXVgUEfggLHHDuHZIhCWyfJsPbbFwCYPweQc926A9+L2F/nZMqAcicCo5b5TYAL4OaH0kXreRKALKn1Fb2AJPp4XT/Nn1/lHQu6VnSV/zvKmb/EmAdjpTpQ1AqK5tNIveSviUdBP8AYA8Df2cEACeCoxIaaIXdRLVzsEiESue42wCsKAfPbfAddFhp7mEXIAfrNd2Ka9kPA0AJVGxSFT37FwDc04MWRQZHECiKM0QRxlaRFcSnpzQ3Ge6zpHcGIKueTAme989WgGpQonTvG5bfZwQ1LVlZ1aC2VgW8l5mNrCWrKlNcDZqNvC6q9bsBKdOY56L54HiA8q4fWdfYZEU1V0XeP+jf3PcA/Gagsurt2NuTOdLUIZvFK/gFHzRoGdyhE9oAAAAASUVORK5CYII="
    ></app-socialcard>
    <app-socialcard
      name="Facebook"
      link="https://facebook.com/dev.vicentefigueroa"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALxJREFUSEvtlNENgzAMBR+bsEkZpUxCO0lhkraTlFHakxIpQhArViL1A3+BhN45Z5NOjatrnK+/A/SSJkmDJJ5XScvPwu3IRMkJCPzsBM2SxhoAuqT7bVUDPIMaAK/QNYqyVaIIPWii7jnvKdELwDlqzLIAcVsIeiRphL/DO7oOVVkAQq9Gm1ldNQBZXRaA1byEEzDgOGSURC0A3IpSO+kWVRvyCSi6rs8ZmNdKc0VmB3sfWH+yK9R7XbtgX1iPKhmVuQM1AAAAAElFTkSuQmCC"
    ></app-socialcard>
    <app-socialcard
      name="Gmail"
      link="mailto:dev.vicentefigueroa@gmail.com"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOZJREFUSEvtldEJwlAMRW830U10E51EnUSdxG6im6hHGonhlbxiK340ICIkOcm9edho4mgm7q8ZkCrsJVpJuki6STo/K/dp9WfCRtIx1nvAVdLC1ZwkbSshNAZgwZBLfnjAvdCMxHU3VYnFQDRn+xiv3hmAnD7JTJK+JasB1uDgfMGr0tQeNhhg2/DtvRptg0q/32npBlwRMmTT4hGfKFkKQHMgu3CCfpO2uzLeDHmDPDBT2YCLiQ286V8BbCpAXA/BA2R6i1EAdj3oHWM0QN8l/QcgTuFNzN5ArMUjLnD+R8uU+4FED3szORlvMzCyAAAAAElFTkSuQmCC"
    ></app-socialcard>
    <a href="Home"><button class="cta-button">¡ Inicio !</button></a>
  </div>
  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
