<div class="about-me-container bg-glass fade-in" #scrollContainer>
  <div class="about-me-content">
    <div class="about-me-title-container">
      <div class="about-me-title-box">
        <h1 class="about-me-title">Sobre mí</h1>
      </div>
    </div>
    <div class="about-me-body">
      <div class="about-me-frame">
        <p class="about-me">
          Egresé en 2022 de la universidad de la carrera en Ingeniería en
          Información y Control de Gestión, y desde entonces me he especializado
          en el campo de la
          <span class="highlight">inteligencia artificial</span>. Actualmente
          trabajo como <span class="highlight">Ingeniero de Datos</span> en
          Defontana, donde participo en proyectos de gran magnitud aplicando mis
          conocimientos en tecnologías emergentes.
        </p>
      </div>
    </div>
    <div class="profile-image-container">
      <div class="profile-image-frame">
        <img
          class="profile-image"
          src="assets/datascience.png"
          alt="Claudio, Ingeniero de Datos"
        />
      </div>
    </div>
    <a href="portafolio"
      ><button class="cta-button">Explorar mi portafolio</button></a
    >
  </div>

  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
