<div class="personal-container bg-glass fade-in" #scrollContainer>
  <div class="personal-content">
    <div class="personal-title-container">
      <div class="personal-title-box">
        <h1 class="personal-title">Mis proyectos</h1>
      </div>
    </div>
    <div class="personal-body">
      <div class="personal-frame">
        <p class="personal">
          Como <span class="highlight">científico de datos</span> por pasión, he
          dedicado mi tiempo a crear proyectos personales que exploran el vasto
          mundo de la ciencia de datos y la inteligencia artificial. A lo largo
          de mi trayectoria, he desarrollado sistemas de generación de texto,
          clasificación de imágenes, análisis de clusters y extracción de
          características mediante
          <span class="highlight">machine learning</span>. Mi búsqueda constante
          de conocimiento me impulsa, y disfruto cada paso en este emocionante
          viaje.
        </p>
      </div>
    </div>
    <a href="https://personal.com/cl">
      <div class="profile-image-container">
        <div class="profile-image-frame">
          <img
            class="profile-image"
            src="assets/portfolio/proyecto_5_alt.jpg"
            alt="Vicente, Ingeniero de Datos"
          />
        </div></div
    ></a>
    <a href="portafolio"
      ><button class="cta-button">Explorar mi portafolio</button></a
    >
  </div>

  <footer class="footer">Vicente Figueroa &copy;</footer>
</div>
