<!-- Este bloque representa el contenedor principal del portafolio -->
<div class="portfolio-container bg-glass fade-in" #scrollContainer>
  <!-- Contenido del portafolio -->
  <div class="portfolio-content">
    <!-- Contenedor del título del portafolio -->
    <div class="portfolio-title-container">
      <div class="portfolio-title-box">
        <!-- Título del portafolio -->
        <h1 class="portfolio-title">Portafolio</h1>
      </div>
    </div>

    <!-- Cuerpo del portafolio -->
    <div class="portfolio-info">
      <!-- Marco del portafolio -->
      <div class="portfolio-frame-info">
        <!-- Descripción del portafolio -->
        <p class="portfolio-text">
          En estos <strong class="highlight"> proyectos</strong> he participado
        </p>
      </div>
    </div>

    <app-card></app-card>
    <a href="contacto"><button class="cta-button">Contacto</button></a>
  </div>

  <!-- Pie de página -->
  <footer class="footer">
    <!-- Copyright -->
    Vicente Figueroa &copy;
  </footer>
</div>
